body {
  background-color: #14181c;
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
}

.container {
  padding: 25px;
  position: absolute;
  background-color: #262a2d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  width: 50%;
  /* height: 35%; */
  height: fit-content;
}

div {
  border-radius: 5px;
  color: black;
}

.upload {
  padding: 20px;
  background-color: #646667;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  margin: 8px 0;
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: rgb(144, 45, 255);
  color: white;
  padding: 14px 20px;
  margin-top: 5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
